<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="_include :: head('管理首页')"/>
<body class="layui-layout-body layui-layout-admin">
<div class="layui-header">
    <!-- logo 区域 -->
    <div class="layui-logo" style="background-color:#0B121B;">
        <img th:src="@{/static/images/logo.png}" alt="logo"/>
        <cite>自动售货系统</cite>
    </div>
    <!-- 头部区域 -->
    <ul class="layui-nav layui-layout-left">
        <li class="layui-nav-item">
            <a lay-event="flexible" title="侧边伸缩" lay-unselect>
                <i class="layui-icon layui-icon-shrink-right"></i>
            </a>
        </li>
        <!-- 面包屑 -->
        <span class="layui-breadcrumb layui-anim layui-anim-up">
        <a><cite>首页</cite></a>
    </span>
    </ul>
    <!-- 头像区域 -->
    <ul class="layui-nav layui-layout-right">
        <!--<li class="layui-nav-item layui-hide-xs" lay-unselect>
            <a lay-event="clear" title="清理">
                <i class="layui-icon layui-icon-delete"></i>
            </a>
        </li>-->
        <li class="layui-nav-item layui-hide-xs" lay-unselect>
            <a href="/" target="_blank" title="文档说明">
                <i class="layui-icon layui-icon-website"></i>
            </a>
        </li>
        <li class="layui-nav-item layui-hide-xs" lay-unselect>
            <a id="layFull" lay-event="screenLayFull" lay-full="full" title="全屏">
                <i class="layui-icon layui-icon-screen-full"></i>
            </a>
        </li>
        <li class="layui-nav-item user-selection">
            <a>
                <img th:src="@{/static/images/avatar.png}" class="layui-nav-img" alt="头像">
                <cite th:text="${username}">用户</cite>
                <span class="layui-nav-more"></span>
            </a>
            <dl class="layui-nav-child">
                <dd lay-unselect><a lay-event="userInfo">基本资料</a></dd>
                <dd lay-unselect><a lay-event="editPwd">修改密码</a></dd>
                <hr>
                <dd lay-unselect><a th:href="@{/admin/logout}">退出</a></dd>
            </dl>
        </li>
    </ul>
</div>
<!-- 左侧导航区域 -->
<div class="layui-side layui-side-scroll">
    <ul class="layui-nav layui-nav-tree" lay-filter="lay-nav" lay-accordion="true">
        <li class="layui-nav-item">
            <a lay-url="welcome.html" lay-id="home" lay-tips="主页" lay-direction="2">
                <i class="layui-icon layui-icon-home"></i><cite>主页</cite>
            </a>
        </li>
        <li class="layui-nav-item" th:each="menu : ${menus}">
            <a th:lay-url="${menu.url}" th:lay-id="${menu.id}" href="javascript:;">
                <i class="layui-icon"
                   th:classappend="${not #strings.isEmpty(menu.icon)}?${menu.icon}:''">&#xe602;</i>
                <cite th:text="${menu.name}">一级名称</cite>
            </a>
            <dl class="layui-nav-child" th:if="${not #lists.isEmpty(menu.children)}">
                <dd class="layui-nav-itemed" th:each="cmenu : ${menu.children}">
                    <a th:lay-url="${cmenu.url}" th:lay-id="${cmenu.id}">
                        <i class="layui-icon"
                           th:classappend="${not #strings.isEmpty(cmenu.icon)}?${cmenu.icon}:''"></i>
                        <cite th:text="${cmenu.name}">二级名称</cite>
                    </a>
                    <dl class="layui-nav-child" th:if="${not #lists.isEmpty(cmenu.children)}">
                        <dd class="layui-nav-itemed" th:each="emenu : ${cmenu.children}">
                            <a th:lay-url="${emenu.url}" th:lay-id="${emenu.id}">
                                <i class="layui-icon"
                                   th:classappend="${not #strings.isEmpty(emenu.icon)}?${emenu.icon}:''"></i>
                                <cite th:text="${emenu.name}">三级名称</cite>
                            </a>
                        </dd>
                    </dl>
                </dd>
            </dl>
        </li>
    </ul>
</div>
<div class="layui-body">
    <div class="layui-pagetabs">
        <div class="layui-icon admin-tabs-control layui-icon-refresh-3" lay-event="refresh"></div>
        <div class="layui-tab" lay-unauto lay-allowclose="true" lay-filter="lay-tab">
            <ul class="layui-tab-title">
                <li lay-id="home" lay-url="welcome.html" class="layui-this">
                    <i class="layui-icon layui-icon-home"></i>
                </li>
            </ul>
            <div class="layui-tab-content">
                <div class="layui-tab-item layui-show">
                    <iframe th:src="@{/admin/welcome}" class="layui-iframe" scrolling="yes"/>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>