<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="_layout(title='支付页面')">
<th:block th:fragment="contents">
    <div class="main">
        <!-- main start -->
        <style>
            .layui-table td, .layui-table th {
                padding: 9px 5px;
            }
        </style>
        <div class="layui-row">
            <div class="layui-col-md8 layui-col-md-offset2 layui-col-sm12">
                <div class="main-box">
                    <div class="pay-title">
                        <img th:src="@{/static/images/order.png}" alt="order"/>
                        确认订单
                    </div>

                    <div class="layui-card-body">
                        <div class="product-info">
                            <p style="color: #3C8CE7 ;font-size: 18px;font-weight: 700; text-align: center;margin: 20px 0">
                                请注意！！5 分钟内未完成支付订单将作废
                            </p>
                        </div>
                        <table class="layui-table" lay-skin="nob">
                            <colgroup>
                                <col width="50%">
                                <col width="50%">
                            </colgroup>
                            <tbody>
                            <tr>
                                <td style="text-align: right">订单编号：</td>
                                <td th:text="${order?.orderSn}"></td>
                            </tr>
                            <tr>
                                <td style="text-align: right">订单名称：</td>
                                <td>
                                    <span class="small-tips tips-green noML" th:text="${order?.title}"></span>
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align: right">商品单价：</td>
                                <td><span class="small-tips tips-green noML" th:text="'￥'+${order?.goodsPrice}"></span>
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align: right">购买数量：</td>
                                <td><span class="small-tips tips-green noML" th:text="'x '+${order?.buyAmount}"></span>
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align: right">优惠码：</td>
                                <td>
                                    <span class="small-tips tips-green noML" th:text="${coupon?:''}"></span>
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align: right">优惠码优惠价格：</td>
                                <td>
                                    <span class="small-tips tips-green noML" th:text="'￥'+${order?.couponDiscountPrice}"></span>
                                </td>
                            </tr>
                            <tr th:if="${order?.wholesaleDiscountPrice>0}">
                                <td style="text-align: right">批发价优惠：</td>
                                <td>
                                    <span class="small-tips tips-green noML" th:text="'￥'+${order?.wholesaleDiscountPrice}"></span>
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align: right">实际支付价格：</td>
                                <td>
                                    <span class="small-tips tips-green noML" th:text="'￥'+${order?.actualPrice}"></span>
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align: right">邮箱：</td>
                                <td th:text="${order?.email}"></td>
                            </tr>
                            <tr>
                                <td style="text-align: right">订单资料:</td>
                                <td><p th:text="${info}"></p></td>
                            </tr>
                            <tr>
                                <td style="text-align: right">支付方式：</td>
                                <td th:text="${payName}"></td>
                            </tr>
                            </tbody>
                        </table>
                        <p class="btn" style="text-align: center">
                            <a th:href="'/qrpay/'+${order?.id}">立即支付</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- main end -->
    </div>
</th:block>
</html>