<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="_layout(title='搜索订单')">
<div th:fragment="contents">
<!-- main start -->
<section class="main-container">
    <div class="container">
        <div class="order-card">
            <div class="row justify-content-center">

                @foreach($orders as $order)
                <div class="col-md-8">
                    <div class="card mt-3">
                        <div class="row no-gutters">
                            <div class="col-12 col-md-6">
                                <div class="card card-body p-3 border-0">
                                    <div class="mx-auto">
                                        <h5><small class="text-muted">订单号：{{ $order['order_sn'] }}</small></h5>
                                        <div class="mb-1">
                                            <label>订单名称：</label><span>{{ $order['title'] }}</span>
                                        </div>
                                        <div class="mb-1">
                                            <label>购买数量：</label><span>{{ $order['buy_amount'] }}</span>
                                        </div>
                                        <div class="mb-1">
                                            <label>创建时间：</label><span>{{ $order['created_at'] }}</span>
                                        </div>
                                        <div class="mb-1">
                                            <label>下单邮箱：</label><span>{{ $order['email'] }}</span>
                                        </div>
                                        <div class="mb-1">
                                            <label>订单类型：</label>
                                            @if($order['type'] == \App\Models\Order::AUTOMATIC_DELIVERY)
                                            <span class="badge bg-success">自动发货</span>
                                            @else
                                            <span class="badge bg-warning">人工处理</span>
                                            @endif
                                        </div>
                                        <div class="mb-1">
                                            <label>实际支付价格：</label>
                                            <span>{{ $order['actual_price'] }}</span>
                                        </div>
                                        <div class="mb-1">
                                            <label>订单状态：</label>
                                            @switch($order['status'])
                                            @case(\App\Models\Order::STATUS_EXPIRED)
                                            <span class="badge bg-dark">已过期</span>
                                            @break
                                            @case(\App\Models\Order::STATUS_WAIT_PAY)
                                            <span class="badge bg-secondary">待支付</span>
                                            @break
                                            @case(\App\Models\Order::STATUS_PENDING)
                                            <span class="badge bg-info">待处理</span>
                                            @break
                                            @case(\App\Models\Order::STATUS_PROCESSING)
                                            <span class="badge bg-primary">处理中</span>
                                            @break
                                            @case(\App\Models\Order::STATUS_COMPLETED)
                                            <span class="badge bg-success">已完成</span>
                                            @break
                                            @case(\App\Models\Order::STATUS_FAILURE)
                                            <span class="badge bg-danger">失败</span>
                                            @break
                                            @case(\App\Models\Order::STATUS_ABNORMAL)
                                            <span class="badge bg-danger">异常</span>
                                            @break
                                            @endswitch
                                        </div>
                                        <div class="mb-1">
                                            <label>支付方式：</label>
                                            <span>{{ $order['pay']['pay_name'] ?? ''  }}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="card-body">
                                    <h6 class="card-title">订单详情</h6>
                                    <div class="card-info">
                                        <textarea class="form-control" rows="5">{{ $order['info'] }}</textarea>
                                    </div>
                                    <button id="copy-card" class="btn btn-primary mt-2" data-clipboard-text="{{ $order['info'] }}">复制</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @endforeach
            </div>
        </div>
    </div>
</section>
<!-- main end -->
</div>
</html>