<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fit.dao.GoodsGroupDao">
  <resultMap id="BaseResultMap" type="com.fit.entity.GoodsGroup">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="gp_name" jdbcType="VARCHAR" property="gpName" />
    <result column="is_open" jdbcType="BIT" property="isOpen" />
    <result column="ord" jdbcType="INTEGER" property="ord" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="DELETE_TIME" jdbcType="TIMESTAMP" property="deleteTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, gp_name, is_open, ord, CREATE_TIME, UPDATE_TIME, DELETE_TIME
  </sql>
  <select id="getById" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from goods_group
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="delete" parameterType="java.lang.Long">
    delete from goods_group
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="save" keyProperty="id" parameterType="com.fit.entity.GoodsGroup" useGeneratedKeys="true">
    insert into goods_group
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="gpName != null">
        gp_name,
      </if>
      <if test="isOpen != null">
        is_open,
      </if>
      <if test="ord != null">
        ord,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="updateTime != null">
        UPDATE_TIME,
      </if>
      <if test="deleteTime != null">
        DELETE_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="gpName != null">
        #{gpName,jdbcType=VARCHAR},
      </if>
      <if test="isOpen != null">
        #{isOpen,jdbcType=BIT},
      </if>
      <if test="ord != null">
        #{ord,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteTime != null">
        #{deleteTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="update" parameterType="com.fit.entity.GoodsGroup">
    update goods_group
    <set>
      <if test="gpName != null">
        gp_name = #{gpName,jdbcType=VARCHAR},
      </if>
      <if test="isOpen != null">
        is_open = #{isOpen,jdbcType=BIT},
      </if>
      <if test="ord != null">
        ord = #{ord,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteTime != null">
        DELETE_TIME = #{deleteTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <sql id="Base_Where_List">
    <where>
      <if test="gpName != null and gpName != ''">
         and gp_name = #{gpName,jdbcType=VARCHAR}
      </if>
      <if test="isOpen != null and isOpen != ''">
         and is_open = #{isOpen,jdbcType=BIT}
      </if>
      <if test="ord != null and ord != ''">
         and ord = #{ord,jdbcType=INTEGER}
      </if>
      <if test="createTime != null and createTime != ''">
         and CREATE_TIME = #{createTime,jdbcType=TIMESTAMP}
      </if>
      <if test="updateTime != null and updateTime != ''">
         and UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP}
      </if>
      <if test="deleteTime != null and deleteTime != ''">
         and DELETE_TIME = #{deleteTime,jdbcType=TIMESTAMP}
      </if>
    </where>
  </sql>
  <select id="findList" parameterType="com.fit.entity.GoodsGroup" resultMap="BaseResultMap">
     select 
    <include refid="Base_Column_List" />
     from goods_group
    <include refid="Base_Where_List" />
    order by id desc 
	<if test="offset != null and limit != null">
	limit ${offset}, ${limit}
	</if>
  </select>
  <select id="findCount" resultType="java.lang.Integer">
    select count(1) from goods_group
    <include refid="Base_Where_List" />
  </select>
  <select id="get" parameterType="java.util.Map" resultMap="BaseResultMap">
     select 
    <include refid="Base_Column_List" />
     from goods_group
     <include refid="Base_Where_List" />
  </select>
  <delete id="batchDelete">
    delete from goods_group
     where id in (
     <foreach collection="array" item="id" separator=",">
     #{id}
     </foreach>
    )
  </delete>
</mapper>